extends layout

block content
  head
    title CS400 PS6
  body
    .container
      h1 CS400 PS6
      p This project retrieves Taylor Swift's top songs from the Spotify Developer API.
      p Normally you shouldn't see the screen, but since you do, click below to start the app.
      a.btn.btn-primary(href='/ps6/spotify') Connect

